*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  padding: 100px 0; }

.container {
  width: 600px;
  margin: 0 auto; }

.x-tabs__tab {
  background-color: rgba(0, 128, 0, 0.1); }

.x-tabs {
  display: flex;
  flex-direction: column; }
  .x-tabs__navs {
    display: flex;
    height: 50px; }
  .x-tabs__tabs {
    display: flex;
    height: 300px; }
  .x-tabs__nav {
    flex-grow: 1;
    text-align: center;
    padding: 17px 0; }
  .x-tabs__tab {
    display: none;
    flex-grow: 1; }
    .x-tabs__tab--active {
      display: block; }

.x-tab--active {
  display: block; }

.x-tab--t-hide-from {
  opacity: 1;
  transform: translateX(0); }

.x-tab--t-hide-active {
  transition-duration: 750ms; }

.x-tab--t-hide-to {
  opacity: 0;
  transform: translateX(50px); }

.x-tab--t-show-from {
  opacity: 0;
  transform: translateX(-50px); }

.x-tab--t-show-active {
  transition-duration: 750ms; }

.x-tab--t-show-to {
  opacity: 1;
  transform: translateX(0); }
